<servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <url-pattern>/spring/*</url-pattern>

    <init-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/player-servlet.xml</param-value>
    </init-param>
    <load-on-setup>1</load-on-setup>
</servlet>